* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mtaani-brand {
  font-family: "Satisfy", cursive;
}

.navbar {
  font-family: "Satisfy", cursive;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.2rem !important;
}

.line-in-search {
  background-color: transparent !important;
  color: #e3f2fd !important;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
  padding: 3px 10px;
}

.carouselExampleIndicators, .carousel-inner {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.grid-image {
    margin-right: 20%;
}

.profile-details {
    float: right;
}

.profile-details {
    margin-left: 50% !important;
    margin-top: -20% !important;
}