{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <style>
        body {
            font-family: "Baloo 2", cursive;
            font-size: 16px;
            text-rendering: optimizeLegibility;
            font-weight: initial;
        }
    </style>


    <div class="uploadbtn">
        <a class="btn btn-outline-dark btn-roundeduploadButton" href="#!" role="button" type="button" data-toggle="collapse"
            data-target="#collapseUploads" aria-expanded="false" aria-controls="collapseExample">
            Upload Post
        </a>
    </div>
    
    <div class="collapse" id="collapseUploads">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{post_form|crispy}}
            <button type="submit" class="btn btn-outline-dark btn-rounded mt-5" data-mdb-ripple-color="dark">Upload
                Post</button>
        </form>
    </div>
    

{% for post in posts %}
    
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">{{post.post_name}}</div>
        <article class="postcard light blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="{{post.post_image.url}}" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="#">{{post.profile_user.user.username}}</a></h1>
                <h5 class="preview-txt blue"><a href="#">{{post.neighbourhood.mtaani_name}}</a></h5>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">{{post.post_description}}</div>
            </div>
        </article>
    </div>
{% endfor %}


{% endblock %}