{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% for profile in profiles %}
    <div class="container profile-container text-center">
        <div class="grid-photos container">
            <div class="row">
                <div class="col-md-5 grid-image mt-5">
                    <img src="../../static/media/images/grid1.jpg" alt="" style="max-height: 180px; max-width: 180px;">
                    <img src="../../static/media/images/grid2.jpg" alt="" style="max-height: 180px; max-width: 180px;">
                    <img src="../../static/media/images/grid3.jpg" alt="" style="max-height: 180px; max-width: 180px;">
                    <img src="../../static/media/images/grid4.jpg" alt="" style="max-height: 180px; max-width: 180px;">
                </div>

                <div class="profile-details">
                    <p class="username"><span class="defines">Username:</span>{{profile.user.username}}</p>
                    <p class="email"><span class="defines">Email:</span>{{profile.user.email}}</p>
                    <p class="email"><span class="defines">Neighbourhood:</span>{{profile.neighbourhood.mtaani_name}}</p>

                    <form action="/profilemtaani/{{profile.id}}/" method="POST">
                        {% csrf_token %}
                        {{mtaani_form|crispy}}
                        <button class="btn btn-outline-dark voteBtn" id="ProfileBtn{{project.id}}" type="submit">Choose Neighbourhood</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}